<div class="nl-about">
  <section
    class="nl-about-section-start"
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
  >
    <img
      src="../../assets/images/nl-about-top-people.svg"
      class="nl-about__start-img-people"
    />
    <div class="section-start__text">
      <h2 ng-tr="NLABO.NLABO1" class="section-start__text-header"></h2>
      <a
        ng-tr="NLABO.NLABO2"
        class="nl-btn nl-btn-orange"
        ng-click="openLoginModal('modal-lk-registrationlk', null, 'PROJECT')"
      ></a>
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="nl-about-section-info"
  >
    <div class="nl-section-info-wrapper nl-wrapper">
      <img
        class="info-wrapper__img-arrow"
        src="../../assets/images/nl-home-work-arrow.svg"
      />
      <img
        class="work-wrapper__img-blot-rect"
        src="../../assets/images/nl-home-work-blot-rect.svg"
      />

      <img
        class="work-wrapper__img-blot-circle"
        src="../../assets/images/nl-home-work-blot-circle.svg"
      />

      <div class="info-wrapper__content-wrapper">
        <div class="content-video-wrapper">
          <iframe
            allowfullscreen="true"
            class="yt-hd-thumbnail"
            allowfullscreen="true"
            allow="autoplay"
            src="https://www.youtube.com/embed/6Oukj5J_rZI"
          ></iframe>
        </div>
        <ul>
          <li ng-tr="NLABO.NLABO3" class="nl--green nl--bold"></li>
          <li ng-tr="NLABO.NLABO4" class="nl--title"></li>
          <li
            ng-tr="NLABO.NLABO5"
            class="nl--green nl--bold nl--margin-top"
          ></li>
          <li ng-tr="NLABO.NLABO6" class="nl--title"></li>
          <li ng-tr="NLABO.NLABO7" class="nl--description nl--smallbold"></li>
          <li ng-tr="NLABO.NLABO8" class="nl--description nl--smallbold"></li>
          <li ng-tr="NLABO.NLABO9" class="nl--description nl--smallbold"></li>
        </ul>
      </div>
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="nl-about-section-devices"
  >
    <div class="nl--wrapper">
      <ul class="nl-about-ul nl--right">
        <li ng-tr="NLABO.NLABO10" class="nl--title"></li>
        <li ng-tr="NLABO.NLABO11" class="nl--description nl--smallbold"></li>
        <li>
          <a
            href="https://play.google.com/store/apps/details?id=ru.pflb.mobile.uxcrowd"
          >
            <img
              class="section-devices__img-google"
              src="../../assets/images/google-play-btn.png"
            />
          </a>
        </li>
        <li ng-tr="NLABO.NLABO12" class="nl--title"></li>
        <li ng-tr="NLABO.NLABO13" class="nl--description nl--smallbold"></li>
      </ul>
      <div class="content-video-wrapper">
        <iframe
          class="yt-hd-thumbnail"
          allowfullscreen="true"
          allow="autoplay"
          allowfullscreen="true"
          src="https://www.youtube.com/embed/ZLzNd2tWUbQ"
        ></iframe>
      </div>
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="nl-about-section-lk"
  >
    <div class="nl--wrapper">
      <div class="content-video-wrapper">
        <iframe
          class="yt-hd-thumbnail"
          allowfullscreen="true"
          allow="autoplay"
          allowfullscreen="true"
          allowfullscreen="true"
          src="https://www.youtube.com/embed/MwQA0Kv5PVg"
        ></iframe>
      </div>
      <ul class="nl-about-ul nl--left">
        <li
          ng-tr="NLABO.NLABO14"
          class="nl--description nl--green nl--bold"
        ></li>
        <li ng-tr="NLABO.NLABO15" class="nl--title nl--bold"></li>
        <li>
          <ul class="section-lk__subtable">
            <li ng-tr="NLABO.NLABO16"></li>
            <li ng-tr="NLABO.NLABO17"></li>
            <li ng-tr="NLABO.NLABO18"></li>
            <li ng-tr="NLABO.NLABO19"></li>
            <li>
              <span
                ng-tr="NLABO.NLABO20"
                class="nl--description nl--smallbold"
              ></span>
              <a
                href="/assets/files/report_uxcrowd_example.xlsx"
                target="_blank"
                ng-tr="NLABO.NLABO21"
                class="nl--description nl--smallbold nl--green nl--underline"
              ></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="nl-about-section-persons"
  >
    <div class="nl--wrapper">
      <ul class="nl-about-ul nl--right">
        <li
          ng-tr="NLABO.NLABO22"
          class="nl--description nl--green nl--bold"
        ></li>
        <li ng-tr="NLABO.NLABO23" class="nl--title nl--bold"></li>
        <li ng-tr="NLABO.NLABO24" class="nl--description nl--smallbold"></li>
        <li
          ng-tr="NLABO.NLABO25"
          class="nl--title nl--bold nl--margin-top"
        ></li>
        <li ng-tr="NLABO.NLABO26" class="nl--description nl--smallbold"></li>
      </ul>
      <img src="../../assets/images/people.svg" class="nl-about__people-img" />
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="nl-about-section-users"
  >
    <div class="nl--wrapper">
      <img
        src="../../assets/images/test-params.svg"
        class="full-image"
        data-image="../../assets/images/test-params.svg"
      />
      <ul class="nl-about-ul nl--left">
        <li
          ng-tr="NLABO.NLABO27"
          class="nl--description nl--green nl--bold"
        ></li>
        <li ng-tr="NLABO.NLABO28" class="nl--title nl--bold"></li>
        <li ng-tr="NLABO.NLABO29" class="nl--description nl--smallbold"></li>

        <li
          ng-tr="NLABO.NLABO30"
          class="nl--description nl--green nl--bold nl--margin-top"
        ></li>
        <li ng-tr="NLABO.NLABO31" class="nl--title nl--bold"></li>
        <li ng-tr="NLABO.NLABO32" class="nl--description nl--smallbold"></li>
      </ul>
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="nl-about-section-tasks"
  >
    <div class="nl--wrapper">
      <div>
        <div class="section-tasks__header nl--left">
          <div
            ng-tr="NLABO.NLABO33"
            class="nl--description nl--green nl--bold"
          ></div>
          <div ng-tr="NLABO.NLABO34" class="nl--title nl--bold"></div>
        </div>

        <ul class="nl-about-ul section-tasks__ul nl--left">
          <li ng-tr="NLABO.NLABO35" class="nl--description nl--smallbold"></li>
          <li ng-tr="NLABO.NLABO36" class="nl--description nl--smallbold"></li>
          <li ng-tr="NLABO.NLABO37" class="nl--description nl--smallbold"></li>
          <li ng-tr="NLABO.NLABO38" class="nl--description nl--smallbold"></li>
          <li ng-tr="NLABO.NLABO39" class="nl--description nl--smallbold"></li>
        </ul>
      </div>
      <img
        src="../../assets/images/tasks-example.png"
        class="full-image"
        data-image="../../assets/images/tasks-example.svg"
      />
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="nl-about-section-analysis"
  >
    <div class="nl--wrapper">
      <img
        src="../../assets/images/paper-example.svg"
        class="full-image"
        data-image="../../assets/images/paper-example.svg"
      />

      <ul class="nl-about-ul section-analysis__ul nl--left">
        <li
          ng-tr="NLABO.NLABO40"
          class="nl--description nl--green nl--bold"
        ></li>
        <li ng-tr="NLABO.NLABO41" class="nl--title nl--bold"></li>
        <li ng-tr="NLABO.NLABO42" class="nl--description nl--smallbold"></li>
      </ul>
    </div>
  </section>

  <section
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="nl-about-section-demo"
  >
    <div class="nl--wrapper">
      <div class="section-demo__left-wrapper">
        <span ng-tr="NLABO.NLABO43" class="nl--title nl--bold"></span>
        <ul class="section-demo__ul nl--left">
          <li ng-tr="NLABO.NLABO44" class="nl--description nl--smallbold"></li>
          <li ng-tr="NLABO.NLABO45" class="nl--description nl--smallbold"></li>
          <li ng-tr="NLABO.NLABO46" class="nl--description nl--smallbold"></li>
        </ul>
        <a
          ng-tr="NLABO.NLABO47"
          class="nl-btn nl-btn-orange "
          ng-click="openLoginModal('modal-lk-registrationlk', null, 'PROJECT')"
        ></a>
      </div>

      <div class="section-demo__img-wrapper">
        <img src="../../assets/images/plane.svg" />
      </div>
    </div>
  </section>

  <div
    class="modal fade"
    id="image-gallery"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog" data-dismiss="modal">
      <img id="image-gallery-image" class="img-responsive" src="" />
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    if (window.innerWidth >= 1120) {
      $(".full-image").click(function() {
        var img = $(this).data("image");

        $("#image-gallery-image").attr("src", img);
        $("#image-gallery").modal();
      });

      $("iframe.yt-hd-thumbnail").youTubeHDThumbnail({
        darkenThumbnail: true
      });
    }
  });
</script>

<style>
  #image-gallery-image {
    width: 900px;
  }

  .nl-about .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .work-wrapper__img-blot-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -20;
  }
  .work-wrapper__img-blot-rect {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 100%;
    height: calc(100% - 300px);
    z-index: -20;
  }

  .nl--margin-top {
    margin-top: 25px;
  }

  .nl--underline {
    text-decoration: underline;
  }

  .nl--description {
    font-size: 18px;
    color: #777676;
  }

  .nl--title {
    font-size: 24px;
    line-height: 31px;
    color: #464646;
    font-weight: bold;
  }

  .nl--green {
    color: #20c997;
  }

  .nl--bold {
    font-weight: bold;
  }

  .nl--smallbold {
    font-weight: 500;
  }

  .nl--wrapper {
    padding: 80px 0px;
    display: flex;
    flex-direction: row;
    width: 1120px;
    justify-content: space-between;
    align-items: center;
  }

  .nl-about-ul {
    width: 550px;
  }

  .nl-about-ul li {
    padding: 10px 20px;
  }

  .nl--left {
    text-align: left;
  }

  .nl--right {
    text-align: right;
  }

  .nl-btn {
    border-radius: 50px;
    padding: 2.2rem 4.5rem !important;
    transition: background-color 0.2s ease, transform 70ms ease,
      -webkit-transform 70ms ease;
    font: 400 18px/18px futura-pt, sans-serif;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }

  .nl-btn:hover {
    color: #fff;
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  .nl-btn:active {
    color: #fff;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  .nl-btn.nl-btn-orange {
    background-color: #ffab29;
  }

  .nl-btn.nl-btn-orange:hover {
    background-color: #ec9104;
  }

  .nl-btn.nl-btn-green {
    background-color: #20c997;
  }

  .nl-btn.nl-btn-green:hover {
    background-color: #00ac79;
  }

  /* ---- section tasks ---- */

  .section-tasks__header div {
    padding: 10px 0px;
  }

  .section-tasks__header {
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .section-tasks__ul {
    counter-reset: counter;
    margin-left: 2.2em !important;
  }

  .section-tasks__ul li {
    counter-increment: counter;
  }

  .section-tasks__ul li::before {
    content: counter(counter) ". ";
    color: #20c997;
    font-weight: bold;
    margin-right: 1em;
    margin-left: -2.2em;
  }

  /* ---- section anylysis ---- */

  .section-analysis__ul {
    width: 600px;
  }

  /* ---- section demo ---- */

  .section-demo__ul {
    min-width: 600px;
    padding-left: 40px !important;
    margin: 40px 0px !important;
  }

  .section-demo__ul > li {
    padding: 5px 0px;
  }

  .section-demo__ul > li:before {
    content: "";
    border: 2px solid #20c997;
    border-radius: 50px;
    display: inline-block;
    margin-left: -2em;
    margin-right: 1em;
    margin-bottom: 0.1em;
  }

  .section-demo__ul .nl-btn {
    margin-top: 20px;
  }

  .section-demo__img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  /* ---- section lk ---- */

  .section-lk__subtable li {
    width: 600px;
    font-size: 18px;
    font-weight: 500;
    color: #777676;
  }

  .section-lk__subtable li:before {
    content: "";
    border: 2px solid #20c997;
    border-radius: 50px;
    display: inline-block;
    margin-left: -1em;
    margin-right: 1em;
    margin-bottom: 0.1em;
  }

  .section-devices__img-google {
    margin-right: -10px;
  }

  /* ---- section devices ---- */

  .nl-about-section-devices ul > li {
    padding: 10px 20px;
  }

  /* ---- section info ---- */

  .nl-about-section-info {
    position: relative;
    margin-top: 50px;

    text-align: center;

    width: 100%;
    justify-content: center;
  }

  .info-wrapper__content-wrapper {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }

  .info-wrapper__content-wrapper ul {
    width: 550px;
    text-align: left;
    margin-left: 40px !important;
  }

  .info-wrapper__content-wrapper ul > li {
    padding: 10px 20px;
  }

  .content-video-wrapper {
    width: 500px;
    height: 345px;
    align-self: center;
  }

  .content-video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 5px;
  }

  .info-wrapper__img-arrow {
    margin-top: -20px;
    position: absolute;
    top: 0px;
  }

  .nl-section-info-wrapper {
    height: 800px;

    display: flex;
    flex-direction: column;
    color: #464646;
    align-items: center;
  }

  /* ---- section start ---- */
  .section-start__text {
    width: 500px;
    margin-top: -50px;
  }

  .section-start__text-header {
    padding: 40px 10px 40px 0px;
    font-weight: bold;
    font-size: 32px;
    color: #464646;
  }

  .nl-about__start-img-people {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: -100px;
  }

  .nl-about {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nl-wrapper {
    width: 1120px;
    justify-content: space-between;
  }

  .nl-about section {
    display: flex;
    align-items: center;
  }

  .nl-about ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .nl-about-section-start {
    position: relative;
    height: 550px;
    width: 1120px;
    margin-bottom: 50px;
    display: flex;
  }

  @media (max-width: 1120px) {
    .nl-wrapper {
      width: auto;
      padding: 20px 0px;
    }

    .nl--wrapper {
      padding: 20px 0px;
      flex-direction: column;
      width: 100%;
      align-items: normal;
    }

    .nl-about-section-start {
      height: auto;
      width: auto;
      margin-bottom: 50px;
      flex-direction: column;
    }

    .nl-about__start-img-people {
      position: relative;
    }

    .section-start__text {
      width: auto;
      margin-top: -0px;
      text-align: center;
    }

    .nl-about section {
      align-items: normal;
      padding: 0px 10px;
      width: 100%;
    }

    .info-wrapper__content-wrapper {
      flex-direction: column-reverse;
      padding-bottom: 0px;
    }

    .info-wrapper__content-wrapper ul {
      width: auto;
    }

    .nl-about-section-info {
      width: auto;
    }

    .work-wrapper__img-blot-circle {
      height: 200px;
    }

    .work-wrapper__img-blot-rect {
      top: 150px;
      height: calc(100% - 150px);
    }

    .content-video-wrapper {
      width: auto;
      height: auto;
      padding: 0px 10px;
      max-width: 500px;
      max-height: 385px;
    }

    .info-wrapper__content-wrapper ul {
      margin-left: 0px !important;
    }

    .nl-section-info-wrapper {
      height: auto;
    }

    .nl-about ul.nl--right {
      text-align: unset;
    }

    .nl-about-section-devices {
      width: 100%;
    }

    .nl-about-ul {
      width: auto;
    }

    .nl-about__people-img {
      padding: 10px 20px;
    }

    .section-lk__subtable li {
      width: auto;
    }

    .info-wrapper__content-wrapper {
      margin-top: 50px;
      align-items: unset;
    }

    .nl-about-section-demo .nl--wrapper,
    .nl-about-section-users .nl--wrapper,
    .nl-about-section-analysis .nl--wrapper,
    .nl-about-section-lk .nl--wrapper {
      flex-direction: column-reverse;
    }

    .section-demo__ul {
      text-align: center;
      min-width: auto;
    }

    .section-demo__left-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    ul > li {
      padding: 10px 10px !important;
    }

    .section-tasks__header {
      padding-left: 10px;
    }

    .section-devices__img-google {
      margin-left: -12px;
    }

    .section-lk__subtable > li {
      padding: 10px 10px 10px 20px !important;
    }

    .section-demo__img-wrapper img {
      width: 30%;
    }
    .nl-about-section-tasks .nl--wrapper img {
      padding-top: 30px;
    }
    .yt-hd-thumbnail-outer-container {
      width: 100%;
      height: auto;
      min-width: 280px;
      min-height: 180px;
    }

    .yt-hd-thumbnail-inner-container {
      width: 100%;
      height: auto;
      min-width: 280px;
      min-height: 180px;
    }
  }
</style>
