<div class="nl-tester">
  <div
    class="nl--wrapper"
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
  >
    <section class="nl-tester__section-header">
      <div class="section-header__info">
        <h1 class="info-title" ng-tr="NLTES.NLTES1"></h1>
        <ul>
          <li ng-tr="NLTES.NLTES2"><h3></h3></li>
          <li ng-tr="NLTES.NLTES3"></li>
        </ul>
        <form
          class="info__input-group"
          name="TesterRegisterForm"
          id="form_become_tester"
          ng-show="!success"
          role="form"
        >
          <div class="info__input-group-wrapper">
            <input
              data-type="email"
              data-text-error="Проверьте почту"
              ng-model="registerAccount.email"
              type="email"
              name="email"
              validator="required, email"
              valid-method="watch"
              required-error-message="Проверьте почту"
              email-error-message="Проверьте
            почту"
              placeholder="Введите почту"
            />
            <div class="block_error"></div>
          </div>
          <a
            class="nl-btn nl-btn-orange"
            ng-tr="NLTES.NLTES47"
            ng-click="register()"
            data-wait="Отправка письма"
            ng-binding
            ng-scope
          ></a>
        </form>
      </div>

      <div class="section-header__img">
        <img
          src="../../assets/images/nl-tester-top-big-bubble.svg"
          class="bubble-top-big-img"
        />
        <img
          src="../../assets/images/nl-tester-top-bubble-4.svg"
          class="bubble-top-4-img"
        />
        <img
          src="../../assets/images/nl-tester-top-bubble-2.svg"
          class="bubble-top-2-img"
        />
        <img
          src="../../assets/images/nl-tester-top-bubble-3.svg"
          class="bubble-top-3-img abs-img"
        />
      </div>
    </section>
    <section class="nl-tester__section-caption">
      <span ng-tr="NLTES.NLTES6" class="section-caption__title"></span>
    </section>
    <section class="nl-tester__section-bubbles">
      <div class="bubble-wrapper">
        <div class="section-header__step step-bubble-1">
          <div class="step-bubble">
            01
          </div>
          <span class="step-label" ng-tr="NLTES.NLTES7"></span>
        </div>
      </div>

      <div class="bubble-wrapper">
        <div class="section-header__step step-bubble-2">
          <div class="step-bubble">
            02
          </div>
          <span class="step-label" ng-tr="NLTES.NLTES8"></span>
        </div>
      </div>

      <div class="bubble-wrapper">
        <div class="section-header__step step-bubble-3">
          <div class="step-bubble">
            03
          </div>
          <span class="step-label" ng-tr="NLTES.NLTES9"></span>
        </div>
      </div>

      <div class="bubble-wrapper">
        <div class="section-header__step step-bubble-4">
          <div class="step-bubble">
            04
          </div>
          <span class="step-label" ng-tr="NLTES.NLTES10"></span>
        </div>
      </div>
    </section>

    <section class="nl-tester__section-official nl--col">
      <h2 ng-tr="NLTES.NLTES11" class="section-official__title nl--title"></h2>
      <div class="section-official__info nl--row">
        <ul>
          <li class="img-wrapper">
            <img src="../../assets/images/nl-tester-official-left.svg" />
          </li>
          <li ng-tr="NLTES.NLTES12" class="nl--bold"></li>
          <li ng-tr="NLTES.NLTES13" class="nl--description nl--smallbold"></li>
        </ul>
        <ul class="section-official__ul-center">
          <li class="img-wrapper">
            <img src="../../assets/images/nl-tester-official-center.svg" />
          </li>
          <li ng-tr="NLTES.NLTES14" class="nl--bold"></li>
          <li ng-tr="NLTES.NLTES15" class="nl--description nl--smallbold"></li>
        </ul>
        <ul>
          <li class="img-wrapper">
            <img src="../../assets/images/nl-tester-official-right.svg" />
          </li>
          <li ng-tr="NLTES.NLTES16" class="nl--bold"></li>
          <li ng-tr="NLTES.NLTES17" class="nl--description nl--smallbold"></li>
        </ul>
      </div>
    </section>
  </div>

  <section
    class="nl-tester__section-features"
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
  >
    <img
      class="work-wrapper__img-blot-rect"
      src="../../assets/images/nl-home-work-blot-rect.svg"
    />

    <img
      class="work-wrapper__img-blot-circle"
      src="../../assets/images/nl-home-work-blot-circle.svg"
    />

    <div class="section-features-wrapper nl--wrapper">
      <img
        class="section-features__img-arrow"
        src="../../assets/images/nl-home-work-arrow.svg"
      />

      <h1 ng-tr="NLTES.NLTES18" class="nl--title"></h1>

      <div class="section-features__cards">
        <div class="section-features__cards-left">
          <div class="feature-card">
            <img
              src="../../assets/images/nl-tester-features-clock.svg"
              class="features-clock-img"
            />
            <span ng-tr="NLTES.NLTES19" class="nl--smalltitle"></span>
            <span
              ng-tr="NLTES.NLTES20"
              class="nl--description nl--smallbold"
            ></span>
          </div>

          <div class="feature-card">
            <img src="../../assets/images/nl-tester-features-18old.svg" />
            <span ng-tr="NLTES.NLTES23" class="nl--smalltitle"></span>
            <span
              ng-tr="NLTES.NLTES24"
              class="nl--description nl--smallbold"
            ></span>
          </div>
        </div>

        <div class="section-features__cards-right">
          <div class="feature-card">
            <img src="../../assets/images/nl-tester-features-globus.svg" />
            <span ng-tr="NLTES.NLTES21" class="nl--smalltitle"></span>
            <span
              ng-tr="NLTES.NLTES22"
              class="nl--description nl--smallbold"
            ></span>
          </div>

          <div class="feature-card feature-card-last">
            <img
              src="../../assets/images/nl-tester-features-education.svg"
              class="features-education-img"
            />
            <span ng-tr="NLTES.NLTES25" class="nl--smalltitle"></span>
            <span
              ng-tr="NLTES.NLTES26"
              class="nl--description nl--smallbold"
            ></span>
          </div>
        </div>
      </div>
      <img
        src="../../assets/images/nl-tester-features-bubble-1.svg"
        class="bubble-features-1-img abs-img"
      />

      <img
        src="../../assets/images/nl-tester-features-bubble-2.svg"
        class="bubble-features-2-img abs-img"
      />
    </div>
  </section>

  <span ng-tr="NLTES.NLTES48" class="section-result-header"></span>

  <section
    class="nl-tester__section-result"
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
  >
    <div class="content-video-wrapper">
      <iframe
        class="yt-hd-thumbnail"
        allowfullscreen="true"
        allow="autoplay"
        src="https://www.youtube.com/embed/Q2CnE_Nlsbc"
      ></iframe>
      <img
        src="../../assets/images/nl-tester-result-bubble-1.svg"
        class="bubble-result-1 abs-img"
      />
      <img
        src="../../assets/images/nl-tester-result-bubble-2.svg"
        class="bubble-result-2 abs-img"
      />
      <img
        src="../../assets/images/nl-tester-result-bubble-3.svg"
        class="bubble-result-3 abs-img"
      />
      <img
        src="../../assets/images/nl-tester-result-bubble-4.svg"
        class="bubble-result-4 abs-img"
      />
    </div>
  </section>

  <div class="nl--wrapper">
    <section
      class="nl-tester__section-answers"
      data-aos="fade-up"
      data-aos-delay="0"
      data-aos-duration="1000"
    >
      <div ng-tr="NLTES.NLTES27" class="section-answers__title nl--title"></div>
      <span ng-tr="NLTES.NLTES28" class="nl--smalltitle"></span>
      <p ng-tr="NLTES.NLTES29"></p>

      <span ng-tr="NLTES.NLTES30" class="nl--smalltitle"></span>
      <p ng-tr="NLTES.NLTES31"></p>

      <span ng-tr="NLTES.NLTES32" class="nl--smalltitle"></span>
      <p ng-tr="NLTES.NLTES33"></p>

      <span ng-tr="NLTES.NLTES34" class="nl--smalltitle"></span>
      <p ng-tr="NLTES.NLTES35"></p>

      <span ng-tr="NLTES.NLTES36" class="nl--smalltitle"></span>
      <p ng-tr="NLTES.NLTES37"></p>

      <div class="section-answers__files">
        <div class="answers-file-wrapper">
          <img src="../../assets/images/nl-tester-answers-pdf.svg" />
          <a
            ng-tr="NLTES.NLTES38"
            class="answers-file__label"
            href="https://uxcrowd.ru/file/tester_contract.pdf"
            target="_blank"
          ></a>
        </div>
        <div class="answers-file-wrapper">
          <img src="../../assets/images/nl-tester-answers-pdf.svg" />
          <a
            ng-tr="NLTES.NLTES39"
            class="answers-file__label"
            href="https://uxcrowd.ru/file/tester_agreement.pdf"
            target="_blank"
          ></a>
        </div>
        <div class="answers-file-wrapper">
          <img src="../../assets/images/nl-tester-answers-pdf.svg" />
          <a
            ng-tr="NLTES.NLTES40"
            class="answers-file__label"
            href="https://uxcrowd.ru/file/tester_conditions.pdf"
            target="_blank"
          ></a>
        </div>
      </div>
    </section>

    <section
      class="nl-tester__section-footer"
      data-aos="fade-up"
      data-aos-delay="0"
      data-aos-duration="1000"
    >
      <div ng-tr="NLTES.NLTES41" class="section-footer__title"></div>
      <div class="section-footer__steps">
        <div class="section-footer__step">
          <img src="../../assets/images/nl-tester-footer-step-1.svg" />
          <div ng-tr="NLTES.NLTES42"></div>
        </div>

        <div class="section-footer__step section-footer__step-center">
          <img src="../../assets/images/nl-tester-footer-step-2.svg" />
          <div ng-tr="NLTES.NLTES43"></div>
        </div>

        <div class="section-footer__step">
          <img src="../../assets/images/nl-tester-footer-step-3.svg" />
          <div ng-tr="NLTES.NLTES44"></div>
        </div>
      </div>
      <a
        class="nl-btn nl-btn-orange"
        ng-tr="NLTES.NLTES45"
        ng-click="openLoginModal('modal-lk-registrationlk', null, 'PRODUCT')"
      ></a>
      <!-- <a
        class="section-footer__link"
        ng-tr="NLTES.NLTES46"
        ng-click="$state.go('contacts', {});"
      ></a> -->

      <img
        src="../../assets/images/nl-tester-footer-bubble-1.svg"
        class="bubble-footer-1 abs-img"
      />
      <img
        src="../../assets/images/nl-tester-footer-bubble-2.svg"
        class="bubble-footer-2 abs-img"
      />
      <img
        src="../../assets/images/nl-tester-footer-bubble-3.svg"
        class="bubble-footer-3 abs-img"
      />
    </section>
  </div>
  <!-- Верхняя картинка -->
  <img
    src="../../assets/images/nl-tester-blot-top.svg"
    class="blot-top-img abs-img"
    data-aos="fade-zoom-in"
    data-aos-delay="0"
    data-aos-duration="1000"
  />
  <img
    src="../../assets/images/nl-tester-blot-top-mobile.svg"
    class="blot-top-img-mobile abs-img"
    data-aos="fade-zoom-in"
    data-aos-delay="0"
    data-aos-duration="1000"
  />

  <img
    src="../../assets/images/nl-tester-top-bubble-1.svg"
    class="bubble-top-1-img abs-img"
  />

  <!-- Нижняя картинка -->
  <img
    src="../../assets/images/nl-tester-footer-blot.svg"
    class="blot-footer-img abs-img"
    data-aos="fade-zoom-in"
    data-aos-delay="0"
    data-aos-duration="1000"
  />
  <img
    src="../../assets/images/nl-tester-blot-bottom-mobile.svg"
    class="blot-footer-img-mobile abs-img"
    data-aos="fade-zoom-in"
    data-aos-delay="0"
    data-aos-duration="1000"
  />
</div>

<style>
  .section-features__img-arrow {
    height: 42px;
  }

  .block_error {
    color: white;
    position: absolute;
    left: 30px;
    width: 400px;
  }

  .section-result-header {
    display: none;
  }
  .work-wrapper__img-blot-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -20;
  }
  .work-wrapper__img-blot-rect {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 100%;
    height: calc(100% - 300px);
    z-index: -20;
  }

  .info__input-group-wrapper p.validation-invalid {
    position: absolute;
    left: 30px;
    top: -30px;
  }

  .info__input-group-wrapper .validation-invalid-duplicate-mail {
    color: white;
  }

  .blot-footer-img {
    bottom: 0px;
    left: 0px;
    height: 1000px;
    width: 100%;
    z-index: -20;
  }

  .blot-footer-img-mobile {
    display: none;
  }

  /* ---- section footer ---- */
  .bubble-footer-1 {
    left: -130px;
    top: -220px;
  }

  .bubble-footer-2 {
    top: -260px;
    right: -120px;
  }

  .bubble-footer-3 {
    top: 150px;
    right: -40px;
  }

  .section-footer__link {
    text-decoration: underline;
    font-weight: 500;
    color: white !important;
    cursor: pointer;
  }

  .nl-tester__section-footer .nl-btn.nl-btn-orange {
    margin-bottom: 25px;
  }

  .section-footer__step {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 50px;
  }

  .section-footer__step div {
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin: 0px 20px;
    width: 150px;
  }

  .section-footer__step-center {
    padding-left: 40px;
  }

  .section-footer__steps {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .nl-tester__section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 500px 0px 100px;
  }

  .section-footer__title {
    color: white;
    font-size: 48px;
    text-align: center;
    margin-bottom: 80px;
  }

  /* ---- section answers ---- */

  .answers-file__label {
    color: #777676;
    font-weight: 500;
    margin: 0px 20px;
    width: 180px;
  }

  .answers-file__label:hover {
    color: #20c997;
  }

  .answers-file-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .section-answers__files span {
    color: #777676;
    font-weight: 500;
  }

  .section-answers__files {
    display: flex;
  }

  .section-answers__title {
    text-align: center;
    margin-bottom: 100px;
  }

  .nl-tester__section-answers {
    margin-top: 200px;
  }

  .nl-tester__section-answers p {
    padding: 20px 0px 40px;
    color: #777676;
    font-size: 18px;
  }

  /* ---- section-result ---- */
  .bubble-result-1 {
    top: 40px;
    left: -160px;
  }
  .bubble-result-2 {
    bottom: -30px;
    z-index: -1;
    left: -130px;
  }

  .bubble-result-3 {
    right: -60px;
    top: -20px;
    z-index: -1;
  }

  .bubble-result-4 {
    right: -160px;
    bottom: 60px;
  }

  .nl-tester__section-result {
    margin-top: 250px;
    position: relative;
  }

  .content-video-wrapper iframe {
    width: 570px;
    height: 385px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  .yt-hd-thumbnail-outer-container {
    width: 500px;
    height: 345px;
  }

  /* ---- section-features ---- */

  .features-clock-img {
    margin-left: -10px;
  }

  .features-education-img {
    margin-left: -5px;
  }

  .bubble-features-1-img {
    left: -50px;
    bottom: 50px;
  }

  .bubble-features-2-img {
    left: 0px;
    bottom: -100px;
  }

  .section-features__cards-right {
    margin-top: 80px;
  }

  .section-features__cards .feature-card img {
    width: 64px;
    height: 64px;
  }

  .section-features__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-left: 200px;
  }

  .section-features-wrapper ul {
    list-style-type: none;
    padding: 15px 0px;
  }

  .section-features-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
  }

  .nl-tester__section-features {
    /* background: url("../../assets/images/nl-home-work-blot.svg"); */
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    height: 725px;

    position: relative;
  }

  .section-features__img-arrow {
    margin-top: -20px;
    position: absolute;
    top: 0px;
  }

  .nl-tester__section-features .feature-card {
    width: 380px;
    height: 255px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 35px;
    background-color: #ffffff;
  }

  .feature-card.feature-card-last {
    background-color: #20c997;
  }

  .feature-card.feature-card-last span {
    color: white !important;
  }

  /* ---- section-features ---- */
  .section-official__info {
    width: 100%;
    justify-content: space-between;
  }

  .section-official__title {
    margin-bottom: 50px;
  }

  .nl-tester__section-official {
    display: flex;
    align-items: center;
    padding-top: 120px;
    text-align: center;
  }

  .section-official__ul-center {
    width: 420px !important;
  }

  .nl-tester__section-official ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 300px;
  }
  .nl-tester__section-official ul > li {
    padding: 15px 0px;
  }

  .nl-tester__section-official .img-wrapper {
    height: 150px;
    display: flex;

    align-items: flex-end;
    justify-content: center;
  }

  .section-header__info .info__input-group {
    margin-top: 20px;
    display: inline-flex;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }

  .nl-tester__section-bubbles {
    height: 300px;
  }

  .nl-tester__section-caption {
    text-align: center;
    margin-top: 50px;
  }

  .section-caption__title {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  .step-label {
    width: 200px;
    margin-top: 20px;
    font-weight: 500;
  }

  .nl-tester__section-bubbles {
    display: flex;
    justify-content: space-around;
  }

  .bubble-wrapper {
    position: relative;
    width: 110px;
  }

  .section-header__info .info-title {
    color: white;
    font-size: 40px;
  }

  .bubble-top-1-img {
    left: -5px;
    top: 70px;
  }

  .bubble-top-2-img {
    position: absolute;
    top: -80px;
    left: -100px;
  }

  .bubble-top-3-img {
    position: absolute;
    top: -40px;
    right: -70px;
  }

  .bubble-top-4-img {
    position: absolute;
    bottom: -20px;
    left: -20px;
    z-index: 1;
  }

  .section-header__img {
    position: relative;
    margin-right: -50px;
    margin-top: -50px;
  }

  .section-header__info {
    width: 700px;
  }

  .info__input-group-wrapper {
    position: relative;
  }

  .section-header__info .info__input-group-wrapper input {
    width: 350px;
    padding: 18px 60px 18px 30px;
    border-radius: 50px;
    border: none;
    position: relative;
  }

  .section-header__info .info__input-group-wrapper input.validation-has-error {
    padding: 14px 60px 18px 30px !important;
  }

  .section-header__info a.nl-btn {
    margin-left: -50px;
    height: 60px;
    z-index: 1;
  }

  .bubble-top-big-img {
    margin-top: -60px;
    max-width: unset;
    width: 510px;
    height: 510px;
  }

  .nl-tester {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #464646;
  }

  .section-header__step {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: center;
    width: 110px;
  }

  .section-header__step .step-bubble {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    color: #20c997;
    font-weight: 900;
    font-size: 36px;
  }

  .step-bubble-1 {
    top: 90px;
  }

  .step-bubble-2 {
    top: 115px;
  }

  .step-bubble-3 {
    top: 115px;
  }

  .step-bubble-4 {
    top: 90px;
  }

  .nl-tester__section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 250px 0px 0px 0px;
  }

  .nl-tester__section-header ul {
    margin-top: 20px;
    list-style-type: none;
    color: white;
  }

  .nl-tester__section-header ul li {
    padding: 15px;
    font-size: 24px;
  }

  .nl-tester__section-header ul > li:before {
    content: "";
    border: 4px solid #ffa20f;
    border-radius: 50px;
    display: inline-block;
    margin-left: -2em;
    margin-right: 1em;
    margin-bottom: 0.1em;
  }

  .nl-tester .blot-top-img {
    top: 0px;
    left: 0px;
    height: 900px;
    width: 100%;
    z-index: -20;
  }

  .nl-tester .blot-top-img-mobile {
    display: none;
  }

  .nl-tester .abs-img {
    position: absolute;
  }

  .nl--wrapper {
    width: 1120px;
  }

  .nl--padding {
    padding: 15px 0px;
  }

  .nl--bold {
  }

  .nl--smallbold {
  }

  .nl--description {
    color: #777676;
  }
</style>

<style>
  .nl--smalltitle {
    font-size: 20px;
    font-weight: bold;
    color: #464646 !important;
  }

  .nl--title {
    font-size: 30px;
    font-weight: bold;
    color: #464646 !important;
  }

  .nl--col {
    display: flex;
    flex-direction: column;
  }

  .nl--row {
    display: flex;
    flex-direction: row;
  }

  /* ---- BUTTON STYLES ---- */

  .nl-btn {
    border-radius: 50px;
    padding: 2.2rem 4.5rem !important;
    transition: background-color 0.2s ease, transform 70ms ease,
      -webkit-transform 70ms ease;
    font: 400 18px/18px futura-pt, sans-serif;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .nl-btn:hover {
    color: #fff;
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  .nl-btn:active {
    color: #fff;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  .nl-btn.nl-btn-orange {
    background-color: #ffab29;
  }

  .nl-btn.nl-btn-orange:hover {
    background-color: #ec9104;
  }
  /* ---- END BUTTON STYLES ---- */
</style>

<!-- Mobile styles -->
<style>
  @media (max-width: 300px) {
    .work-wrapper__img-blot-rect {
      top: 50px;
    }
  }

  @media (max-width: 1120px) {
    .block_error {
      text-align: center;
      position: unset;
      width: auto;
    }

    .bubble-top-1-img,
    .bubble-top-2-img,
    .bubble-top-3-img,
    .bubble-top-4-img,
    .section-header__img,
    .bubble-features-1-img,
    .bubble-features-2-img,
    .bubble-footer-1 {
      display: none;
    }

    .nl--wrapper {
      width: 100%;
      padding: 0px 20px;
    }

    .nl--row {
      flex-direction: column;
      align-items: center;
    }

    .section-official__ul-center {
      width: auto !important;
    }

    .nl-tester__section-features {
      height: auto;
    }
    .section-features__cards {
      margin: 0px;
      flex-direction: column;
    }

    .section-features__cards-right {
      margin-top: -10px;
    }

    .nl-tester__section-features .feature-card {
      width: auto;
      align-items: center;
      text-align: center;
      max-width: 380px;
      margin: 12px 0px;
    }

    .work-wrapper__img-blot-rect {
      top: 120px;
      height: calc(100% - 230px);
    }

    .work-wrapper__img-blot-circle {
      height: auto;
    }

    .section-features-wrapper.nl--wrapper {
      padding: 40px 20px 0px 20px;
    }

    .section-features-wrapper.nl--wrapper h1 {
      font-size: 18px;
      padding: 20px 0px 30px 0px;
    }
    .section-header__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;
    }

    .info__input-group-wrapper input {
      width: 100%;
      padding: 18px 30px 18px 30px;
    }

    .info__input-group-wrapper {
      width: 100%;
      max-width: 450px;
    }

    .section-header__info a.nl-btn {
      margin-left: 0px;
      margin-top: 20px;
    }

    .section-official__info {
      padding: 0px 20px;
    }

    .section-header__info .info__input-group {
      display: flex;
      flex-direction: column;
      box-shadow: none;
      align-items: center;
      width: 100%;
    }

    .section-header__info .info-title {
      text-align: center;
      font-size: 30px;
    }

    .section-answers__files {
      flex-direction: column;
    }
    .answers-file-wrapper {
      margin: 20px 0px;
    }

    .nl-tester .blot-top-img {
      display: none;
    }

    .nl-tester .blot-top-img-mobile {
      display: block;
    }

    .nl-tester__section-bubbles {
      justify-content: unset;
      flex-direction: column;
    }

    .section-header__step {
      position: unset;
      flex-direction: row;
      width: auto;
    }

    .bubble-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .step-label {
      color: #ffffff;
      margin-top: 0px;
      text-align: left;
      font-size: 18px;
    }

    .section-header__step .step-bubble {
      width: 45px;
      height: 45px;
      font-size: 24px;
      margin: 20px 20px 20px 0px;
    }

    .nl-tester__section-caption {
      margin: 50px 0px 30px 0px;
    }

    .section-official__title {
      margin-bottom: 0px;
    }

    .nl-tester__section-official {
      padding-top: 150px;
    }

    .blot-footer-img {
      display: none;
    }

    .blot-footer-img-mobile {
      display: block;
    }
    .section-footer__steps {
      flex-direction: column;
    }

    .section-footer__step-center {
      padding: 0px;
    }

    .section-footer__step {
      margin: 20px;
    }
    .nl-tester__section-footer {
      margin: 150px 0px 50px 0px;
    }
    .bubble-footer-2 {
      top: -120px;
      right: -20px;
      width: 136px;
    }

    .nl-tester .blot-top-img-mobile {
      top: 0px;
      left: 0px;
      height: 1100px;
      width: 100%;
      z-index: -20;
    }

    .blot-footer-img-mobile {
      bottom: 0px;
      left: 0px;
      height: 1335px;
      width: 100%;
      z-index: -20;
    }

    .section-footer__title {
      font-size: 30px;
      margin-bottom: 40px;
    }

    .bubble-footer-3 {
      top: -190px;
      left: -30px;
    }

    .nl-tester__section-result {
      margin-top: 50px;
    }
    .content-video-wrapper iframe {
      width: 100%;
      height: auto;
      min-width: 280px;
      min-height: 180px;
    }

    .yt-hd-thumbnail-outer-container {
      width: 100%;
      height: auto;
      min-width: 280px;
      min-height: 180px;
    }

    .yt-hd-thumbnail-inner-container {
      width: 100%;
      height: auto;
      min-width: 280px;
      min-height: 180px;
    }

    .content-video-wrapper {
      padding: 0px 20px;
    }

    .section-result-header {
      display: block;
      padding: 50px 0px;
      text-align: center;
      font-weight: bold;
    }

    .bubble-result-3 {
      width: 210px;
      top: -30px;
      right: -50px;
    }

    .bubble-result-2 {
      width: 210px;
      left: -30px;
    }

    .nl-tester__section-answers {
      margin-top: 80px;
    }

    .section-answers__title {
      margin-bottom: 50px;
    }

    .bubble-result-1 {
      top: -60px;
      left: 100px;
      width: 30px;
    }

    .bubble-result-4 {
      right: 120px;
      bottom: -30px;
      width: 20px;
    }
    .nl-tester__section-header {
      padding-top: 150px;
      padding-bottom: 30px;
    }
  }
</style>

<script>
  $("iframe.yt-hd-thumbnail").youTubeHDThumbnail({
    darkenThumbnail: true,
    autoplay: 1
  });
</script>
