<div class="nl-price-wrapper">
  <div class="w-container">
    <div class="price-header">
      <h3
        data-aos="fade-down"
        data-aos-duration="1000"
        ng-tr="NLPRC.NLPRC1"
      ></h3>
    </div>
  </div>

  <div class="newprice">
    <section class="pricecards-section">
      <div
        class="new infocard"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <h3 class="pricecard-header" ng-tr="NLPRC.NLPRC2"></h3>
        <div class="infocard-content">
          <ul class="infocard-content-prices">
            <li ng-tr="NLPRC.NLPRC3"></li>
            <li ng-tr="NLPRC.NLPRC4"></li>
            <li ng-tr="NLPRC.NLPRC5"></li>
          </ul>

          <ul class="infocard-content-services">
            <li ng-tr="NLPRC.NLPRC6"></li>
            <li ng-tr="NLPRC.NLPRC7"></li>
            <li ng-tr="NLPRC.NLPRC8"></li>
            <li ng-tr="NLPRC.NLPRC9"></li>
          </ul>
        </div>
      </div>

      <div
        class="new pricecard"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <h3 class="pricecard-header" ng-tr="NLPRC.NLPRC10"></h3>

        <div class="pricecard-content">
          <ul class="pricecard-content-prices">
            <li ng-tr="NLPRC.NLPRC11">0</li>
            <li ng-tr="NLPRC.NLPRC12">0</li>
            <li ng-tr="NLPRC.NLPRC13">0</li>
          </ul>
          <a
            class="nl-btn nl-btn-orange pricecard-button"
            ng-tr="NLPRC.NLPRC14"
            ng-click="openLoginModal('modal-lk-registrationlk', null, 'PROJECT')"
          ></a>
          <ul class="pricecard-content-services">
            <li ng-tr="NLPRC.NLPRC15"></li>
            <li ng-tr="NLPRC.NLPRC16"></li>
            <li ng-tr="NLPRC.NLPRC17"></li>
          </ul>
        </div>
      </div>

      <div
        class="new pricecard pricecard-center"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <h3 class="pricecard-header" ng-tr="NLPRC.NLPRC18"></h3>

        <div class="pricecard-content">
          <ul class="pricecard-content-prices">
            <li ng-tr="NLPRC.NLPRC19"></li>
            <li ng-tr="NLPRC.NLPRC20"></li>
            <li ng-tr="NLPRC.NLPRC21"></li>
          </ul>
          <a
            class="nl-btn nl-btn-orange pricecard-button"
            ng-tr="NLPRC.NLPRC22"
            ng-click="openLoginModal('modal-lk-registrationlk', null, 'PRODUCT')"
          ></a>
          <ul class="pricecard-content-services">
            <li ng-tr="NLPRC.NLPRC23"></li>
            <li ng-tr="NLPRC.NLPRC24"></li>
            <li ng-tr="NLPRC.NLPRC25"></li>
          </ul>
        </div>
      </div>

      <div
        class="new pricecard"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <h3 class="pricecard-header" ng-tr="NLPRC.NLPRC26"></h3>

        <div class="pricecard-content">
          <ul class="pricecard-content-prices">
            <li ng-tr="NLPRC.NLPRC27"></li>
            <li ng-tr="NLPRC.NLPRC28"></li>
            <li ng-tr="NLPRC.NLPRC29"></li>
          </ul>
          <a
            class="nl-btn nl-btn-orange pricecard-button"
            ng-tr="NLPRC.NLPRC30"
            ng-click="openLoginModal('modal-lk-registrationlk', null, 'BUSINESS')"
          ></a>
          <ul class="pricecard-content-services">
            <li ng-tr="NLPRC.NLPRC31"></li>
            <li ng-tr="NLPRC.NLPRC32"></li>
            <li ng-tr="NLPRC.NLPRC33"></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="nl-home-prices-mobile">
      <div>
        <div
          id="prices-carousel"
          class="carousel slide"
          data-ride="carousel"
          style="display: inline-block;"
        >
          <div class="carousel-inner">
            <!-- БЕСПЛАТНО -->

            <div class="item active">
              <div class="item-wrapper">
                <h3 ng-tr="NLPRC.NLPRC10" class="price-card-mobile__title"></h3>
                <div
                  class="price-card-mobile"
                  data-aos="fade-up"
                  data-aos-delay="0"
                  data-aos-duration="1000"
                >
                  <ul>
                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC3"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC11"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC4"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC12"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC5"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC13"></div>
                    </li>

                    <li><hr /></li>
                    <li
                      class="nl-home--title nl-home--green"
                      ng-tr="NLPRC.NLPRC6"
                    ></li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC7"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC15"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC8"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC16"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC9"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC17"></div>
                    </li>

                    <li>
                      <a
                        class="nl-btn nl-btn-orange"
                        ng-tr="NLPRC.NLPRC14"
                        ng-click="openLoginModal('modal-lk-registrationlk', null, 'PRODUCT')"
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- 10 тестов в месяц -->

            <div class="item">
              <div class="item-wrapper">
                <h3 ng-tr="NLPRC.NLPRC18" class="price-card-mobile__title"></h3>
                <div
                  class="price-card-mobile"
                  data-aos="fade-up"
                  data-aos-delay="0"
                  data-aos-duration="1000"
                >
                  <ul>
                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC3"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC19"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC4"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC20"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC5"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC21"></div>
                    </li>

                    <li><hr /></li>
                    <li
                      class="nl-home--title nl-home--green"
                      ng-tr="NLPRC.NLPRC6"
                    ></li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC7"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC23"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC8"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC24"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC9"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC25"></div>
                    </li>

                    <li>
                      <a
                        class="nl-btn nl-btn-orange"
                        ng-tr="NLPRC.NLPRC22"
                        ng-click="openLoginModal('modal-lk-registrationlk', null, 'PROJECT')"
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Безлимит -->

            <div class="item">
              <div class="item-wrapper">
                <h3 ng-tr="NLPRC.NLPRC26" class="price-card-mobile__title"></h3>
                <div
                  class="price-card-mobile"
                  data-aos="fade-up"
                  data-aos-delay="0"
                  data-aos-duration="1000"
                >
                  <ul>
                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC3"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC27"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC4"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC28"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC5"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC29"></div>
                    </li>

                    <li><hr /></li>

                    <li
                      class="nl-home--title nl-home--green"
                      ng-tr="NLPRC.NLPRC6"
                    ></li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC7"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC31"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC8"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC32"></div>
                    </li>

                    <li>
                      <div
                        class="nl-home--description"
                        ng-tr="NLPRC.NLPRC9"
                      ></div>
                      <div class="nl-home--title" ng-tr="NLPRC.NLPRC33"></div>
                    </li>

                    <li>
                      <a
                        class="nl-btn nl-btn-orange"
                        ng-tr="NLPRC.NLPRC22"
                        ng-click="openLoginModal('modal-lk-registrationlk', null, 'BUSINESS')"
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Элементы управления -->
          <a class="left" role="button" data-slide="prev">
            <span
              class="glyphicon glyphicon-chevron-left"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="right " role="button" data-slide="next">
            <span
              class="glyphicon glyphicon-chevron-right"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
      </div>
    </section>

    <section class="research-section">
      <div
        class="new researchcard"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <h3 ng-tr="NLPRC.NLPRC34"></h3>
        <div class="researchcard-description">
          <span ng-tr="NLPRC.NLPRC35"></span>
          <span>
            <a
              href="/assets/files/UXCrowd_Отчет_по_результатам_тестирования.pdf"
              target="_blank"
              class="researchcard-example"
              >Пример отчета</a
            >
          </span>
        </div>
        <a
          class="nl-btn nl-btn-green"
          ng-click="$state.go('contacts');"
          ng-tr="NLPRC.NLPRC36"
        ></a>
      </div>
      <div
        class="new questioncard"
        data-aos="fade-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <img src="../../assets/images/question.png" />
        <h3 ng-tr="NLPRC.NLPRC37"></h3>
        <a
          ng-click="$state.go('contacts');"
          class="researchcard-example"
          ng-tr="NLPRC.NLPRC38"
        ></a>
      </div>
    </section>
  </div>

  <img
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="bottom-img"
    src="../../assets/images/nl-price-bottom-blot.svg"
  />
  <img
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="1000"
    class="bottom-img-mobile"
    src="../../assets/images/nl-price-bottom-blot-mobile.svg"
  />
</div>

<style>
  .info-wrapper__img-arrow {
    height: 42px;
  }

  .nl-home--green {
    color: #20c997;
  }

  .bottom-img-mobile {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    height: 800px;
  }

  .price-header {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 60px;
    color: #464646;
    font-size: 20px;
  }

  .price-header h1 {
    color: #464646;
  }

  .nl-price-wrapper {
    color: #464646;
  }

  .nl-price-wrapper .bottom-img {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    height: 55%;
  }

  /* -- researchcard -- */

  .researchcard-example {
    color: #20c997;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
  }

  .researchcard-description {
    text-align: center;
    font-weight: 500;
    line-height: 22px;
  }

  .research-section {
    margin: 60px 0px 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .new.researchcard {
    width: 835px;
    height: 235px;
    padding: 20px;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* -- questioncard -- */

  .new.questioncard {
    margin-left: 10px;
    padding: 30px;

    width: 275px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* -- infocard -- */

  .new.infocard {
    padding: 40px 20px 30px 20px;
    width: 275px;
    flex-direction: column;
    display: flex;
    color: #464646;
  }

  .infocard .pricecard-header {
    opacity: 0;
  }

  .new.infocard .infocard-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .new.infocard .infocard-content ul > li {
    list-style-type: none;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
  }

  .infocard-content-prices li {
    padding: 17px 0px;
  }

  .infocard-content-services li {
    padding: 20px 0px;
    max-height: 64px;
    display: flex;
    align-items: center;
    line-height: 21px;
    font-weight: 500;
  }

  .infocard-content-services li:first-child {
    padding: 0px;
    line-height: 21px;
    font-weight: 500;
    font-size: 18px;
  }

  /* -- pricecard -- */

  .pricecards-section ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .newprice .pricecards-section .pricecard {
    width: 275px;
    padding: 40px 0px 30px 0px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex-direction: column;
    display: flex;
  }

  .pricecard-header {
    margin-bottom: 10px;
  }

  .price-header span {
    font-size: 30px;
    font-weight: 600;
  }

  .new.pricecard .pricecard-content ul > li {
    border-bottom: 1px solid #f2f2f2;
  }

  .new.pricecard .pricecard-content-prices li {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    padding: 5px 0px;
  }

  .new.pricecard .pricecard-content-services li {
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    padding: 20px 0px;
  }

  .new.pricecard .pricecard-content ul li:last-child {
    border: none;
  }

  .new.pricecard {
    text-align: center;
  }

  .new.pricecard .pricecard-content .nl-btn {
    border-radius: 50px;
    margin: 30px 0px 40px 0px;
  }

  .new.pricecard.pricecard-center {
    margin: 0px 10px;
  }

  /* -- end pricecard -- */

  .newprice {
    position: relative;
  }
  .newprice .pricecards-section {
    display: flex;
    justify-content: center;
    /* background-image: url(../assets/images/price-bg.svg)!important; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -436px;
  }

  .newprice .pricecards-section h3 {
    line-height: normal;
    font-size: 24px;
    color: #3d3d3d;
  }
  .newprice .pricecards-section .pricecard .pricecard-description {
    line-height: 18px;
    font-size: 18px;
    color: #3d3d3d;
    opacity: 0.5;
    margin-top: 25px;
  }
  .newprice .pricecards-section .pricecard .pricecard-description.sub-heading {
    opacity: 1;
  }
  .newprice .pricecard-footer {
    margin-top: 30px;
  }
  .newprice .pricecards-section .pricecard .pricecard-content h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #3d3d3d;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .pricecard-footer .nl-btn.blue {
    background: #07b4ff;
  }

  /* @media (max-width: 1048px) {
    .newprice .pricecards-section .pricecard {
      min-width: 300px;
      width: 300px;
      margin-left: 10px !important;
      margin-right: 10px !important;
      height: 586px;
    }
    .newprice .pricecards-section .pricecard.pricecard-center .nl-btn {
      margin-top: 0px;
    }
    .newprice .pricecards-section {
      overflow-x: scroll;
      justify-content: left;
      -ms-overflow-style: none;
    }
    .newprice .pricecards-section::-webkit-scrollbar {
      display: none;
    }
  } */
  .modal-header.newprice-modal {
    border-bottom: none;
    padding: 30px 30px 0 30px;
  }
  .nl-btn.newprice-modal {
    margin-top: 40px;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
  .modal-body.newprice-modal {
    padding: 15px;
  }
  .newprice-modal-opened .modal-content {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  .newprice-modal-opened .modal-dialog {
    width: 320px;
  }
  .newprice-modal-opened .modal-backdrop {
    background-color: rgba(32, 201, 151, 0.6);
  }
  .sample-show-hide {
    transition: all linear 0.5s;
  }
  .sample-show-hide.ng-hide {
    opacity: 0;
  }

  /* ---- BUTTON STYLES ---- */

  .nl-btn {
    border-radius: 50px;
    padding: 2.2rem 4.5rem !important;
    transition: background-color 0.2s ease, transform 70ms ease,
      -webkit-transform 70ms ease;
    font: 400 18px/18px futura-pt, sans-serif;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }

  .nl-btn:hover {
    color: #fff;
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  .nl-btn:active {
    color: #fff;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  .nl-btn.nl-btn-green {
    background-color: #20c997;
  }

  .nl-btn.nl-btn-green:hover {
    background-color: #00ac79;
  }

  .nl-btn.nl-btn-orange {
    background-color: #ffab29;
  }

  .nl-btn.nl-btn-orange:hover {
    background-color: #ec9104;
  }

  /* ---- BUTTON STYLES ---- */

  .nl-home--title {
    font-size: 30px;
    font-weight: 900;
    color: #464646;
  }

  .nl-home--description {
    color: #919191;
    font-size: 18px;
    font-weight: 500;
  }
</style>

<!-- Mobile -->
<style>
  .nl-home-prices-mobile .carousel > a {
    position: absolute;
    top: 5px;
  }

  .nl-home-prices-mobile .carousel a.left {
    left: 10px;
    color: #808080;
  }

  .nl-home-prices-mobile .carousel a.right {
    right: 10px;
    color: #808080;
  }

  .nl-home-prices-mobile .carousel-inner ul > li {
    padding: 5px;
  }

  .nl-home-prices-mobile .carousel-inner ul > li > hr {
    margin: 0px;
  }

  .nl-home-prices-mobile .carousel-inner ul {
    text-align: center;
  }

  .nl-home-prices-mobile {
    display: none;
  }

  .price-card-mobile__title {
    text-align: center;
    color: #20c997;
  }

  .price-card-mobile {
    width: auto;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    line-height: 21px;

    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 18px;
  }

  .nl-home-prices-mobile ul {
    list-style-type: none;
  }

  .nl-home-prices-mobile .carousel.slide {
    padding: 0px;
    width: 100%;
  }

  .nl-home-prices-mobile ul {
    margin: 0px;
    padding: 0px;
  }

  .item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1120px) {
    .research-section {
      flex-direction: column;
      width: auto;
      padding: 0px 18px;
      margin: 0px;
      text-align: center;
      margin-bottom: 30px;
    }

    .research-section .researchcard {
      width: 100%;
      margin-bottom: 20px;
      height: auto;
      padding: 15px;
    }

    .research-section .new.questioncard {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 0px;
    }

    .research-section .new.questioncard h3 {
      margin: 10px 0px;
    }

    .researchcard-description {
      margin: 10px 0px 20px 0px;
    }

    .nl-home-prices-mobile {
      display: inherit;
    }

    .nl-home--title {
      font-size: 18px;
    }

    .nl-home--description {
      font-size: 16px;
    }

    .pricecards-section {
      display: none !important;
    }

    .bottom-img {
      display: none;
    }

    .bottom-img-mobile {
      display: inherit;
    }

    .price-header {
      padding-top: 120px;
    }
    .price-card-mobile .nl-home--description {
      font-size: 15px;
    }
    .price-card-mobile .nl-btn.nl-btn-orange {
      margin-top: 10px;
    }
  }
</style>

<!-- Добавляет возможность двигатьк карусель с телефона -->
<script>
  $(".carousel").carousel({ interval: false });

  $("#prices-carousel .left").click(function() {
    $("#prices-carousel").carousel("prev");
  });

  $("#prices-carousel .right").click(function() {
    $("#prices-carousel").carousel("next");
  });

  $(".carousel").on("touchstart", function(event) {
    var xClick = event.originalEvent.touches[0].pageX;
    $(this).one("touchmove", function(event) {
      var xMove = event.originalEvent.touches[0].pageX;
      if (Math.floor(xClick - xMove) > 5) {
        $(this).carousel("next");
      } else if (Math.floor(xClick - xMove) < -5) {
        $(this).carousel("prev");
      }
    });
    $(".carousel").on("touchend", function() {
      $(this).off("touchmove");
    });
  });
</script>
